/*------------------ css reset -------------------------*/

* {
    margin: 0;
    font-size: 100%;
}

body {
    width: 100%;
    max-width: 100%;
    margin: auto;
    line-height: 1.5em;
    background-color: white;
    font-size: 1em;
    font-family: 'Roboto', sans-serif;
    color: black;
    float: left;
}


/*-------- logo --------------------------------*/

#logo {
    width: 5em;
    padding: 4em 1em 2em 7em;
    margin: auto;
    float: left;
}


/*------- nav ---------------------------------*/

nav {
    padding: 7em 10em 3em 3em;
    margin: auto;
    max-width: 100%;
    float: right;
}

nav ul {
    text-align: center;
    text-transform: uppercase;
    font-size: 1em;
    letter-spacing: 1.5px;
    margin: .25em;
}

nav ul li {
    display: inline;
    margin: 30px;
}

a {
    color: black;
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
}

a:hover {
    color: #FFA500;
}


/*------------------- typography ------------------------*/

.about {
    width: 100%;
    line-height: 1em;
    margin: auto;
    background-color: #FFA500;
    font-size: 1.75em;
    padding-bottom: 5em;
    float: left;
}

section.about img {
    max-width: 100%;
    margin: auto;
    max-height: 250px;
    max-width: 250px;
    padding-bottom: 2em;
    padding-top: 2em;
}

section.about h2 {
    line-height: 1.65em;
    letter-spacing: .01em;
    max-width: 100%;
    text-align: center;
    margin: auto;
    font-size: .75em;
    font-family: 'Oswald', sans-serif;
    font-weight: normal;
    color: white;
}

.work {
    width: 100%;
    line-height: 1em;
    margin: auto;
    background-color: white;
    font-size: 1.75em;
    padding-bottom: 2em;
    float: left;
}

section.work h1 {
    line-height: 1em;
    max-width: 100%;
    text-align: center;
    margin: auto;
    padding-top: 1em;
    font-size: 1.5em;
    font-family: 'Oswald', sans-serif;
    color: black;
}

img {
    max-width: 100%;
    display: block;
    margin: auto;
}


/*---css import---*/

@import "compass/css3";
.gallery {
    margin: 3em;
    padding: 5px;
}

.gallery > div {
    position: relative;
    float: left;
    padding: 5px;
}

.gallery > div > img {
    width: 250px;
    transition: .1s;
}

.gallery > div:hover {
    z-index: 1;
}

.gallery > div:hover > img {
    transform: scale(1.5, 1.5);
    transition: .3s
}

.cf:before,
.cf:after {
    display: table;
    content: "";
    line-height: 0;
}

.cf:after {
    clear: both;
}


/*----- Footer -----*/


/*------ social media links ----*/

.contact {
    width: 100%;
    line-height: 1em;
    margin: auto;
    background-color: #FFA500;
    font-size: 1.75em;
    padding-bottom: 4em;
    padding-top: 2em;
    float: left;
    font-family: 'Oswald', sans-serif;
}

section.contact h1 {
    line-height: 1em;
    max-width: 100%;
    text-align: center;
    margin: auto;
    font-size: 1em;
    font-family: 'Oswald', sans-serif;
    color: white;
}

section.contact li {
    display: inline;
}

section.contact ul {
  display: flex;
  justify-content: center;
    padding-top: 20px
    
}
    





