/*------------------ css reset -------------------------*/
* {
    margin: 0;
    font-size: 100%;
    line-height: 1em;
}

body {
    width: 100%;
    max-width: 100%;
    margin: auto;
    line-height: 1.5em;
    background-color: ghostwhite;
    font: 8px/1 sans-serif;
    color: black;
}

section {
    background-color: aqua;
}


/*-------- logo ---------*/
#logo {
    width: 7em;
    padding: 4em 1em 1em 9em;
    margin: auto;
    max-width: 98%;
    float: left;
}



/*------- nav ---*/

nav {
    padding: 7.5em 10em 1em 3em;
    margin: auto;
    max-width: 98%;
    float: right;
}

nav ul {
    text-align: center;
    text-transform: uppercase;
    font-size: 1.5em;
    letter-spacing: 1.5px;
    margin: .25em;
}

nav ul li {
    display: inline;
    margin: 30px;
}

a {
    color: black;
    text-decoration: none;
    font-family: sans-serif;
}

a:hover {
    color: white;
}


/*------------------- typography ------------------------*/








